.contenedor-sobremi {
    /* background: radial-gradient(1200px 600px at 10% 10%, rgba(29, 14, 56, 0.12), transparent),linear-gradient(180deg, #090e16, #02060c); */
    background-color: #060606fc;
}

.frase-4 {
    color: #eaba5a;
}